<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta name="apple-touch-fullscreen" content="no" />
    <title>test</title>
    <style>
    * {
        padding: 0;
        margin: 0;
    }
    </style>
    <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
    <h1>openId:{{openid}}</h1>
    <h1>nickname:{{nickname}}</h1>
    <h1>sex:{{sex}}</h1>
    <h1><img src="{{headimgurl}}" alt="" width="50%"></h1>
    <script>

    var rs = location.search.match(/code=([a-zA-Z0-9]+)/);
    if(rs !==null && rs[1]){
        $.ajax({
            url:"{{url}}code",
            type:get,
            data:{
                code:rs[1]
            },
            dataType:"json",
            success:function(data){

            }
        })
    }
    </script>
</body>

</html>